/* Fonts
 * ------------------------------------------------------------ */

// Locally import Google Fonts for safety & performance
// SIL Open Font License (https://fonts.google.com/attribution)

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/Work-Sans/work-sans-v3-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Work Sans Thin'), local('WorkSans-Thin'),
       url('./assets/fonts/Work-Sans/work-sans-v3-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Work-Sans/work-sans-v3-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/Work-Sans/work-sans-v3-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/Work-Sans/work-sans-v3-latin-200.ttf') format('truetype') /* Safari, Android, iOS */
}
