/* General normalization of all the elements
 * ------------------------------------------------------------ */

@import '../vendor/normalize';

::selection { background: rgba(27, 141, 29, 0.1) }
::-webkit-scrollbar { display: none }

html {
  font-size: 14px;
  box-sizing: border-box;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  background-color: $color--white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color--black;
  letter-spacing: -.25px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

em {
  font-style: normal;
  font-weight: 700;
}

a {
  color: $color--black;
  text-decoration: underline;
  cursor: pointer;
}

strong {
  font-weight: 700;
}

:focus {
  outline: none;
}

input::placeholder {
  line-height: 1.7;
}

input[type=submit] {
  border-radius: 0;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
